
$color_darkblue: #212353;
$color_blue: #4B5D68;
$color_purple: #9C69E2;
$color_pink: #F063B8;
$color_teal: #68C9BA;

$color_palepink: rgba(240, 99, 184, 0.15);
$color_background: rgba(246, 250, 253);
