@use 'fonts';
@use 'colors';

$radius: 50px;

@mixin rounded {
  border-radius: $radius;
}

.text {
    @include fonts.text;
}

.text_small {
    @include fonts.smalltext;
}

.button {
    @include rounded;
    border: none;
    font-family: fonts.$font_family_text;
}

.button_demo {
    // max-width: 210px;
    // min-width: 150px;
    // width: 100%;
    width: 210px;
    height: 60px;
    background-color: #ffffff;
    color: colors.$color_darkblue;
    font-weight: bold;
    font-size: 16px;
}

.button_demo:hover {
    background-color: colors.$color_pink;
}

.button_learn {
    width: 170px;
    height: 60px;
    background-color: colors.$color_purple;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
}

.button_learn:hover {
    background-color: colors.$color_darkblue;
}

* {
    margin: 0;
    padding: 0;
}

.page_body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#F6FAFD, #ffffff);
    position: relative;
}

// .top_wrapper {
//     max-height: 1300px;
//     height: 100%;
// }

// .top_wrapper {
//     position: relative;
// }
.navigation_wrapper {
	display: flex;
    justify-content: center;
    margin-top: 50px;
    // background-color: paleturquoise;
    position: relative;
}

.navigation {
    max-width: 1120px;
    max-height: 60px;
    height: 100%;
    width: 100%;
    flex: none;
    display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.nav_left {
    display: flex;
    max-width: 400px;
    width: 100%;
    justify-content: space-between;
}

.image__logo {
    max-width: 49px;
    width: 100%;
}

.navigation__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    max-width: 322px;
    width: 100%;
    font-family: fonts.$font_family_text;
    font-size: 16px;
    
    .navigation__link {
        text-decoration: none;
    }

    .link {
        text-decoration: none;
        color: colors.$color_blue;
    }

    .link:hover {
        color: colors.$color_darkblue;
    }
}

.nav_right {
    justify-content: flex-end;
}

.page_header {
    display: flex;
    width: 100%;
    // max-height: 560px;
    // height: 100%;
    justify-content: center;
    position: relative;
    margin-bottom: 50px;
}

.header_wrapper {
    width: 100%;
    max-width: 1120px;
    // max-height: 560px;
    // height: 100%;
    display: flex;
    // align-items: center;
    margin-top: 50px;
    // background-color: paleturquoise;
    // position: relative;
}

.header_left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 645px;
    width: 100%;
    // max-height: 464px;
    // height: 100%;
    align-self: flex-start;
    // max-height: 500px;
    // height: 100%;
}

.header_h1 {
    @include fonts.h1;
}

.header_text {
    @include fonts.text;
    max-width: 380px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.header_right {
    position: absolute;
    
    // height: 100%;
    left: 600px;
    // bottom: 0;
    // left: 0;
    // right: 0;
    top: 140px;
    // bottom: 0;
    // bottom: -100px;
    // align-self: flex-end;
    // max-width: 885px;
    // width: 100%;
    // max-height: 560px;
    // height: 100%;
    justify-content: flex-end;
}

.image_header {
    max-width: 885px;
    min-width: 350px;
    width: 100%;
    // align-self: flex-end;
    // margin-bottom: 50px;
}

.section_one {
    // max-width: 1117px;
    // width: 100%;
    // max-height: 560px;
    // height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 140px;
    // position: absolute;
    // margin-top: 50px;
}

.section_one_rectangle {
    max-width: 1117px;
    width: 100%;
    height: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: colors.$color_palepink;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 50px;
}

.section_one__image {
    max-width: 477px;
    width: 100%;
    margin-right: 50px;
}

.rectangle_header {
    @include fonts.h4;
    margin-bottom: 40px;
}

.rectangle_text {
    max-width: 475px;
    width: 100%;
}

.section_features {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.features_content {
    max-width: 1138px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.features_header {
    @include fonts.h4;
    margin-bottom: 50px;
    margin-top: 50px;
}


.features_text {
    max-width: 584px;
    text-align: center;
    margin-bottom: 50px;
}

.grid_container {
    display: grid;
    grid-gap: 30px;
    // grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: repeat(2, 1fr);
    // grid-template-columns: repeat(2, 80vmin);
    // grid-template-rows: repeat(2, 50vmin);
    width: 100%;
    // height: 100%;
    // justify-content: center;
    // align-content: center;
    // max-height: 760px;
    // height: 100%;
    // grid-template-columns: repeat(2, minmax(442px, 1fr));
    // grid-template-rows: repeat(2, minmax(450px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    // grid-template-columns: minmax(min-content, 300px) minmax(400px, 1fr) ;
    // grid-template-columns: minmax(300px, 450px) 1fr;
    // grid-template-rows: repeat(auto-fill, minmax(400px, 1fr));
    // grid-template-rows: repeat(auto-fill, minmax(450px, 1fr));
    // width: 95%;
}

.grid_box {
    height: 400px;
    display: flex;
    // // width: 100%;
    // // height: 100%;
    justify-content: center;
    align-items: center;
}

.grid_item {
    // height: 400px;
    // display: flex;
    // // width: 100%;
    // // height: 100%;
    // justify-content: center;
    // align-items: center;
    // justify-content: flex-start;
}

.grid_header {
    @include fonts.h5;
    margin-bottom: 20px;
}

.grid_text {
    max-width: 220px;
    width: 100%;
    margin-right: 50px;
}

.grid_image {
    // max-width: 235px;
    width: 100%;
    // max-height: 211px;
    // height: 100%;
    max-width: 230px;
    // min-width: 100px;
    // width: auto;
    margin-right: 30px;
}

.grid_learnlink {
    margin-top: 20px;
}

.grid_item_one {
    // grid-column: 1 / 2;
    // grid-row: 1 / 2;
    background-image: url("../images/features/background1.svg");
    // background-size: contain;
    // height: 100%;
    // width: 100%;
    // height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.grid_item_two {
    // grid-column: 2 / 3;
    // grid-row: 1 / 2;
    background: url("../images/features/background2.svg");
    // width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.grid_item_three {
    // grid-column: 1 / 2;
    // grid-row: 2 / 3;
    background: url("../images/features/background3.svg");
    // width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.grid_item_four {
    // grid-column: 2 / 3;
    // grid-row: 2 / 3;
    background: url("../images/features/background4.svg");
    // width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.section_testimonials {
    // max-width: 1117px;
    // width: 100%;
    // max-height: 560px;
    // height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    // position: absolute;
    margin-top: 50px;
    margin-bottom: 50px;
}

.testimonials_content {
    max-width: 1118px;
    width: 100%;
    // height: auto;
    max-height: 709px;
    height: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-content: center;
    align-items: center;
    background-color: colors.$color_purple;
    // flex-wrap: wrap;
    // padding: 20px;
    // padding: auto;
    border-radius: 50px;
}

.testimonials_header {
    @include fonts.h5;
    color: #ffffff;
    // text-align: justify;
    align-self: flex-start;
    margin: 5%;
}

.quote_box {
    display: flex;
    max-width: 645px;
    width: 100%;
    background-color: #ffffff;
    margin: auto;
    padding: auto;
    justify-content: center;
    border-radius: 20px;
    margin-top: 5%;
    margin-bottom: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.quote_image {
    width: 90px;
    height: 90px;
    margin-right: 30px;
}

.image_john {
    // width: 100%;
    height: 100%;
}

.quote_text {
    max-width: 385px;
}


@media screen and (max-width: 1280px) { 

}

@media screen and (max-width: 1024px) {
    .page_body {
       width: 90%;
       margin: auto;
    }

    .navigation {
        display: flex;
        justify-content: space-evenly;
    }
    
    .nav_left {
        display: flex;
        justify-content: start;
    }

    .button_nav {
        align-self: flex-start;
        width: 144px;
        height: 42px;
        margin-top: 15px;
    }

    .header_wrapper {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .header_right {
        position: static;
    }

    .section_one {
        margin-top: 0;
    }

    .button_header {
        width: 144px;
        height: 42px;
    }

}


@media screen and (max-width: 768px) {

    .navigation {
        display: flex;
        justify-content: flex-start;
    }

    .button_nav {
        align-self: flex-start;
        width: 144px;
        height: 42px;
    }

    .quote_box {
        max-width: 500px;
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    // .header_wrapper {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    // }

    // .header_right {
    //     position: static;
    // }
}


@media screen and (max-width: 480px) {
    .header_h1 {
        @include fonts.h1_smallscreen;
    }

    .grid_container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .grid_image {
        display: none;
    }

    .grid_box {
        height: 300px;
        // width: 300px;
        // height: auto;
        justify-content: center;
    }

    .grid_text {
        margin: 0;
    }

    .text {
        font-size: 14px;
    }

    .quote_box {
        width: 300px;
    }

    .quote_image {
        width: 48px;
        height: 48px;
        margin-left: 10px;
        margin-right: 10px;
    }

}

