.text {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  color: #212353;
}

.text_small {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #4B5D68;
}

.button {
  border-radius: 50px;
  border: none;
  font-family: "Nunito", sans-serif;
}

.button_demo {
  width: 210px;
  height: 60px;
  background-color: #ffffff;
  color: #212353;
  font-weight: bold;
  font-size: 16px;
}

.button_demo:hover {
  background-color: #F063B8;
}

.button_learn {
  width: 170px;
  height: 60px;
  background-color: #9C69E2;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
}

.button_learn:hover {
  background-color: #212353;
}

* {
  margin: 0;
  padding: 0;
}

.page_body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#F6FAFD, #ffffff);
  position: relative;
}

.navigation_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  position: relative;
}

.navigation {
  max-width: 1120px;
  max-height: 60px;
  height: 100%;
  width: 100%;
  flex: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav_left {
  display: flex;
  max-width: 400px;
  width: 100%;
  justify-content: space-between;
}

.image__logo {
  max-width: 49px;
  width: 100%;
}

.navigation__links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  max-width: 322px;
  width: 100%;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}
.navigation__links .navigation__link {
  text-decoration: none;
}
.navigation__links .link {
  text-decoration: none;
  color: #4B5D68;
}
.navigation__links .link:hover {
  color: #212353;
}

.nav_right {
  justify-content: flex-end;
}

.page_header {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  margin-bottom: 50px;
}

.header_wrapper {
  width: 100%;
  max-width: 1120px;
  display: flex;
  margin-top: 50px;
}

.header_left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 645px;
  width: 100%;
  align-self: flex-start;
}

.header_h1 {
  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 80px;
  font-weight: bold;
  color: #212353;
}

.header_text {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  color: #212353;
  max-width: 380px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.header_right {
  left: 600px;
  bottom: 0;
  justify-content: flex-end;
}

.image_header {
  max-width: 885px;
  min-width: 350px;
  width: 100%;
}

.section_one {
  display: flex;
  justify-content: center;
  width: 100%;
}

.section_one_rectangle {
  max-width: 1117px;
  width: 100%;
  height: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: rgba(240, 99, 184, 0.15);
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 50px;
}

.section_one__image {
  max-width: 477px;
  width: 100%;
  margin-right: 50px;
}

.rectangle_header {
  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #212353;
  margin-bottom: 40px;
}

.rectangle_text {
  max-width: 475px;
  width: 100%;
}

.section_features {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.features_content {
  max-width: 1138px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.features_header {
  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #212353;
  margin-bottom: 50px;
  margin-top: 50px;
}

.features_text {
  max-width: 584px;
  text-align: center;
  margin-bottom: 50px;
}

.grid_container {
  display: grid;
  grid-gap: 30px;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(400px, 1fr));
}

.grid_box {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid_header {
  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 24px;
  color: #212353;
  margin-bottom: 20px;
}

.grid_text {
  max-width: 220px;
  width: 100%;
  margin-right: 50px;
}

.grid_image {
  width: 100%;
  max-width: 230px;
  margin-right: 30px;
}

.grid_learnlink {
  margin-top: 20px;
}

.grid_item_one {
  background-image: url("../images/features/background1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.grid_item_two {
  background: url("../images/features/background2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.grid_item_three {
  background: url("../images/features/background3.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.grid_item_four {
  background: url("../images/features/background4.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.section_testimonials {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.testimonials_content {
  max-width: 1118px;
  width: 100%;
  max-height: 709px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9C69E2;
  border-radius: 50px;
}

.testimonials_header {
  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 24px;
  color: #212353;
  color: #ffffff;
  align-self: flex-start;
  margin: 5%;
}

.quote_box {
  display: flex;
  max-width: 645px;
  width: 100%;
  background-color: #ffffff;
  margin: auto;
  padding: auto;
  justify-content: center;
  border-radius: 20px;
  margin-top: 5%;
  margin-bottom: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.quote_image {
  width: 90px;
  height: 90px;
  margin-right: 30px;
}

.quote_text {
  max-width: 385px;
}

@media screen and (max-width: 1024px) {
  .page_body {
    width: 90%;
    margin: auto;
  }

  .navigation {
    display: flex;
    justify-content: space-evenly;
  }

  .nav_left {
    display: flex;
    justify-content: start;
  }

  .button_nav {
    align-self: flex-start;
    width: 144px;
    height: 42px;
    margin-top: 15px;
  }

  .header_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header_right {
    position: static;
  }

  .button_header {
    width: 144px;
    height: 42px;
  }
}
@media screen and (max-width: 768px) {
  .navigation {
    display: flex;
    justify-content: flex-start;
  }

  .button_nav {
    align-self: flex-start;
    width: 144px;
    height: 42px;
  }

  .header_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header_right {
    position: static;
  }
}
@media screen and (max-width: 480px) {
  .header_h1 {
    font-family: "Roboto", "Helvetica", sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #212353;
  }

  .grid_image {
    display: none;
  }

  .grid_box {
    height: 300px;
  }
}

/*# sourceMappingURL=index.css.map */
